/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 8, 2020, 5:39:15 PM
    Author     : nabin
*/
body{
    /*background: linear-gradient(to bottom right, #bbb, #ddd);*/
    background: linear-gradient(to bottom right, rgb(142, 158, 171), rgb(238, 242, 243));
    min-height: 100vh;
}
.authForm{
    margin-top:7vh;
    border-radius: 15px;
}
.main-nav{
    background: linear-gradient(to bottom right, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100)) !important;
}

.dropdown-item:hover {
    background: rgba(255,255,255,1);  
}
.dropdown-item{
    background: rgba(0,0,0,0) ;
    color: #fff;
}
.dropdown-menu {
    background: linear-gradient(to bottom right, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100)) !important;
}
#toast{
    font-size: 90%;
    position:fixed;
    width:auto;
    right:2%;
    color:white;
    bottom:-10%;
    animation: fadein 1s,fadeout 3s 1s; 
}
@keyframes fadein {
    from {
        bottom: -10%;
        opacity: 0;
    }
    to {
        bottom: 15px;
        opacity: 1;
    }
}

@keyframes fadeout {
    0% {
        bottom: 15px;
        opacity: 1;
    }
    67%{
        bottom:15px;
        opacity:1;
    }
    100% {
        bottom: -10%;
        opacity: 0;
    }
}

.toast-success{
    background: #5ed663;
}
.toast-error{
    background: #ff6969;
}